.info-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.4em;
    background-color: black;
    color: white;
}

.info-esquerda, .info-direita{
    width: 50%;
}

.info-direita > p, .info-direita > h4 {
    display: inline-block;
}

.info-direita > h4 {
    margin: 0 2em;
}