<div class="page-area">
  <div class="col-md-12 carrinho-content">
    <h2>Carrinho de compras</h2>
    <table>
      <thead>
        <tr>
          <th>Imagem do produto</th>
          <th>Desc. do produto</th>
          <th>Qtd</th>
          <th>Preço unit.</th>
          <th>Valor total</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><img src="assets/img/mac.png" class="produto-img-carrinho" alt="Mac"></td>
          <td>
            <h4>MacBook 2018</h4>
          </td>
          <td>
            <input class="ipt-carrinho" type="number" name="quantidade" value="1">
          </td>
          <td>R$ 4099.90</td>
          <td>R$ 4099.90</td>
          <td><a href=""><h5><i class="fa fa-trash"></i></h5></a></td>
        </tr>
        <tr class="table-bottom">
          <td colspan="5">
            <h6>subtotal</h6>
          </td>
          <td>
            <h6>R$ 4099.90</h6>
          </td>
        </tr>
        <tr class="table-bottom">
          <td colspan="5">
            <h6>frete</h6>
          </td>
          <td>
            <h6>GRÁTIS</h6>
          </td>
        </tr>
        <tr class="table-bottom">
          <td colspan="6">
            <h6>Total:R$ 364,00 <br> ou em até 10x</h6>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="row justify-content-end">
      <button type="submit" class="btn-padrao btn-finalizar">Finalizar</button>
    </div>
  </div>
</div>