.box-hover {
  display: none;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.721);
  z-index: 1;
  position: absolute;
}

.produto-content:hover > .box-hover {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: animate-opacidade-produto 1s;
}

.produto-content {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 10px;
  border: 2px outset rgba(184, 184, 184, 0.122);
  overflow: hidden;
  position: relative;
}

.img-produto-venda {
  width: 100%;
  height: auto;
}

.btn-ver-produto {
  background-color: rgba(0, 128, 0, 0.843);
  color: white;
  border-radius: 10px;
  border: 1px outset rgba(255, 255, 255, 0.551);
  padding: 3px 10px;
  font-size: 20px;
}

.btn-ver-produto:hover {
  border-color: black;
  color: rgb(207, 206, 206);
  background-color: rgba(0, 128, 0, 0.898);
}
