<div class="col-md-7 page-area">
  <h2>Entre em contato</h2>
  <form>
    <div class="contato-form">
      <div class="campo-area">
        <label for="nome">Nome</label>
        <input type="text">
      </div>
      <div class="campo-area">
        <label for="email">Email</label>
        <input type="email">
      </div>
      <div class="campo-area">
        <textarea name="contato" id="contato" cols="30" rows="10"></textarea>
      </div>
      <div class="row justify-content-end">
        <button type="submit" class="btn-contato">Enviar</button>
      </div>
    </div>
  </form>
</div>