<!--início barra user-->
<div class="header-area">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="user-menu">
                  <ul>
                      <li class="user-link" ><a href="#"><i class="fa fa-user"></i> My Account</a></li>
                      <li class="user-link" ><a href="#"><i class="fa fa-heart"></i> Wishlist</a></li>
                      <li class="user-link" ><a href="cart.html"><i class="fa fa-user"></i> My Cart</a></li>
                      <li class="user-link" ><a href="checkout.html"><i class="fa fa-user"></i> Checkout</a></li>
                      <li class="user-link" ><a href="#"><i class="fa fa-user"></i> Login</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div> 
<!--Fim barra user-->

<!--Inicio logo-header-->
<div class="site-branding-area">
  <div class="container">
      <div class="row">
          <div class="col-md-8">
              <div class="logo">
                  <h1><a href="./"><img src="../../assets/img/logo.png"></a></h1>
              </div>
          </div>
          
          <div class="col-md-4 cart">
              <div class="shopping-item">
                  <a [routerLink]="['/carrinho']"><i class="fa fa-shopping-cart"></i> <span class="product-count">5</span></a>
              </div>
          </div>
      </div>
  </div>
</div> 
<!--Fim logo-header-->