/* TIPOGRAFIA
*****************/

body {
    font-family: 'Nunito', sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}


a {
    color: rgb(207, 207, 207);
}

a:link {
    text-decoration: none;
    border: none;
}

a:hover 
{
     color:rgb(1, 231, 131); 
     text-decoration:none; 
     cursor:pointer;  
}

/* GERAL CSS
*****************/

.titulo-padding {
    padding: 1.3em 0;
}

.page-area {
    padding: 3em 4em;
    margin: 0 auto;
    background-clip: #fff;
  }
  
.btn-padrao {
    border: 2px solid green;
    border-radius: 3px;
    width: 120px;
}

.btn-padrao:active {
    border: 2px solid rgba(0, 128, 0, 0);
}

button:focus, input:focus {
    outline-style: none;
}

/*******************
      ANIMAÇÂO
********************/

@keyframes animate-opacidade {
    0% { opacity: 0}
    40% { opacity: 0}
    100% { opacity: 1}
}

@keyframes animate-opacidade-produto {
    0% { opacity: 0}
    100% { opacity: 1}
}