<div id="demo" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li *ngFor="let img of carousel; let i = index" data-target="#demo" data-slide-to="0" class="indicador-slide {{ i == 0 ? 'active' : ''}}"></li>
  </ul>

  <!-- The slideshow -->
  <div class="col-md-12 carousel-inner">
    <div *ngFor="let produto of carousel; let i = index" class="carousel-item {{ i == 0 ? 'active' : ''}}">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-7 img-campo">
            <img src="{{produto.img}}" class="carousel-img" alt="{{produto.nome}}">
          </div>
          <div class="col-md-5 info-produto-carousel">
            <button class="btn-ver-produto">Ver produto</button>
            <h2 class="animate-opacity">{{produto.nome}}</h2>
            <p class="animate-opacity">{{produto.descricao}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev " href="#demo" data-slide="prev">
    <span class="fa fa-chevron-left indicador-carousel"></span>
  </a>
  <a class="carousel-control-next " href="#demo" data-slide="next">
    <span class="fa fa-chevron-right indicador-carousel"></span>
  </a>
</div>