.carousel-img {
    min-height: 150px;
    width: 100%;
    min-width: 300px;
}

.img-campo {
    padding: 0;
}

.indicador-slide {
    background-color: rgba(160, 160, 160, 0.585);
}

.indicador-carousel {
    color: rgb(144, 144, 144);
}

.carousel-indicators .active {
    background-color: rgb(85, 85, 85);
}

.info-produto-carousel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0;
}

.animate-opacity {
    animation: animate-opacidade 3s ease;
}

.btn-ver-produto {
    padding: 2px 15px;
    border-radius: 12px;
    background-color: rgba(0, 255, 238, 0.768);
    font-style: italic;
    border: 1px solid rgba(0, 141, 148, 0.53);
    text-decoration: none;
    animation: animate-opacidade 3s ease;
}

.btn-ver-produto:hover{
    border: 2px solid rgba(0, 141, 148, 0.53);
}


.info-produto-carousel > h2 {
    margin: 10px 0;
}