<div class="col-md-8 page-area">
  <div class="sobre-content">
    <div class="titulo-padding">
      <h2>Sobre</h2>
    </div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis gravida risus vel consequat condimentum. Maecenas dignissim
      vestibulum tellus, eget placerat nulla ultricies nec. Pellentesque non lobortis turpis. Donec dignissim venenatis faucibus.
      Pellentesque finibus ac risus in dapibus. Cras feugiat nunc a quam aliquam, malesuada scelerisque mi faucibus. Phasellus
      mattis leo ac arcu molestie volutpat. Integer dignissim ex enim, ac sagittis lectus aliquam et. Curabitur sit amet
      erat sed neque dictum cursus. Integer iaculis nisl vitae leo volutpat, porttitor dapibus nibh feugiat. Maecenas mattis
      et nunc eget mollis. Integer sollicitudin varius pretium.
    </p>
    <p>
      Fusce nisl nisl, malesuada sit amet suscipit id, venenatis vitae purus. In ac vestibulum ante, ut posuere lectus. Nulla molestie
      efficitur ante, nec lacinia nulla congue eu. Curabitur feugiat dictum est non varius. Etiam cursus quam eu leo ultrices,
      a volutpat nibh rhoncus. Fusce auctor elementum facilisis. Nam egestas tortor sed sem fermentum convallis. Phasellus
      diam enim, ornare at neque et, porta aliquet augue. Duis rutrum mi id rutrum ullamcorper. Vivamus varius mi risus,
      vel volutpat arcu aliquet quis. In hac habitasse platea dictumst. Cras commodo, nibh eget ultrices tempus, diam turpis
      bibendum dolor, eu faucibus neque diam et massa.
    </p>
    <p>
      Vestibulum feugiat lacus odio, sit amet faucibus justo bibendum sed. Nullam sed fermentum sapien, in efficitur libero. Proin
      vitae eros et ex hendrerit hendrerit nec at justo. Nunc dignissim ligula id mi vehicula ultricies. Pellentesque ac
      eros fringilla, sagittis sem eu, sollicitudin nisl. Nam aliquam, mi a aliquam sagittis, leo metus hendrerit felis,
      non molestie elit lacus ut velit. Nulla tempor non turpis ut tempus. Fusce laoreet sagittis nibh at scelerisque. Aenean
      augue ante, condimentum ac commodo quis, ultricies in elit. Sed efficitur sit amet elit a scelerisque. Fusce vitae
      sodales arcu. Sed vulputate nec lorem in porta. Maecenas est libero, hendrerit sed erat ut, blandit gravida dolor.
      Nullam scelerisque sapien euismod, euismod ex sed, euismod ante.
    </p>
  </div>
</div>