<!--Início nav-->

<div class="nav-area">
  <div class="nav-content">
    <a [routerLink]="['/home']" routerLinkActive="active" class="link"><div class="col-md-1 ">Home</div></a> 
    <a [routerLink]="['/produtos']" routerLinkActive="active" class="link"><div class="col-md-1 ">Produtos</div></a>
    <a [routerLink]="['/carrinho']" routerLinkActive="active" class="link"><div class="col-md-1 ">Carrinho</div></a>
    <a [routerLink]="['/sobre']" routerLinkActive="active" class="link"><div class="col-md-1 ">Sobre</div></a>
    <a [routerLink]="['/contato']" routerLinkActive="active" class="link"><div class="col-md-1 ">Contato</div></a>
  </div>
</div>

<!--Fim nav-->